target/
project/project/
.bsp/
.idea/
.vscode
.metals
.bloop
.bsp
metals.sbt

# Python specific
.venv
**/*arena/
uv.lock
*.pyc
.ipynb_checkpoints

# Others
.env
logs/
.devcontainer
nohup.out
# Directory used for named pipes
pipes/ 
experiences/
